body {
	background-color: #b7a296;
	color: #333;
	font-family: 'Merriweather', serif;
	font-weight: 400;
}

.main {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.center {
	margin: 0 auto;
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 20px;
	font-weight: 700;
}

h3 {
	/*width: 90%;
	margin: 0 5%;*/
	font-size: 1.4em;
	font-weight: 700;
}

p {
	font-size: 1.0em;
}

.search-results {
	margin-top: 30px;
	border-radius: 10px;
	border: 1px solid #666;
	padding: 15px;
}

article {
	border-bottom: 1px solid #666;
}

footer {
	padding-top: 15px;
	clear: both;
	/*color: #042e48;*/
	text-align: center;
	font-size: 0.85em;
}

#search {
	max-width: 85%;
	border-radius: 10px;
	background-color: #885159;
	height: 35px;
	color: #000;
}

/* this is section for things I don't think I need */

.buttons {
	margin: 20px auto;
}

.button {
	color: #457e86;
	margin: 10px auto;
	padding: 5px;
	/* overwriting bootstrap button style */
	border: 1px solid #58575d;
	border-radius: 10px;
	-moz-border-radius: 10px;
	webkit-border-radius: 10px;
}

.story-link, .story {
	width: 90%;
	margin: 5px 5%;
}

.story-link {
	color: #457e86;
	display: block;
	max-width: 90%;
	font-size: 1.25em;
	text-align: justify-all;
	flex-wrap: wrap;
}

.story {
	font-size: 1em;
}

.ion-search {
	font-size: 1.75em;
	color: #885159; /*#886451;*/
	vertical-align: middle;
}

.ion-ios-heart {
	color: #885159;
}

a:link, a:hover, a:visited, a:active {
	color: #645188;
}

@media only screen and (min-width: 600px)  {

	body {
	}

	h2 {
		margin-top: 20px;
	}

/*	article {
		width: 50%;
		height: 400px;
		float: left;
		padding: 5px 0 10px;
		border-bottom: 0;
	}*/

}

@media only screen and (min-width: 768px) {

	main {
		width: 80%;
	}

	h2 {
		text-align: center;
	}

	.button {
		margin: 30px auto;
	}
}

@media only screen and (min-width: 992px) {

	body {
		background-position: 50% 40px, center;
	}

	.main {
		width: 80%;
	}

}

@media only screen and (min-width: 1200px) {

	.story-link {
		text-align: center;
	}

}